.s003
  = simple_form_for :search, url: search_path, authenticity_token: true, html: { id: 'searchForm'} do |f|
    .inner-form
      .input-field.second-wrap
        = f.input :query, include_blank: false, label: false, placeholder: 'Search...', input_html: { id: 'search', type: 'text' }
      .input-field.third-wrap
        = f.button :button, class: 'btn-search' do
          %svg.svg-inline--fa.fa-search.fa-w-16{"aria-hidden" => "true", "data-icon" => "search", "data-prefix" => "fas", :role => "img", :viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z", :fill => "currentColor"}

#content

:javascript
  $("#searchForm").submit(function(event) {
    event.preventDefault();
    var $form = $(this);
    var data = $form.serializeArray().reduce(function(obj, item) {
          obj[item.name] = item.value;
          return obj;
      }, {});
    var url = $form.attr('action');

    var posting = $.post(url, data);

    posting.done(function(data) {
      document.getElementById('content').innerHTML = JSON.stringify(data);
    });

    posting.error(function(data) {
      alert('Error');
    });
  });

